.box-layout {
    align-items: center;
    background: url('/images/bg.jpg'); //browser nly has access to the public directory
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    background: fade-out(#ace7f2, .15);
    padding: $l-size $m-size;
    text-align: center;
    height: 50rem;
    width: 35rem;
    border-radius: 5%;
    box-shadow: 5px 10px 8px #888888;

    p {
        font-size: 2.3rem;
        font-family: 'Nanum Gothic Coding', monospace;
    }

}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}
 
